# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://user:password@host:port/db"
ACCESS_TOKEN_SECRET=<SECRET_KEY>
SMS_USERNAME=<SMS_PROVIDER_USERNAME>
SMS_PASSWORD=<SMS_PROVIDER_PASSOWORD>
SERVER_PORT=<SET_API_SERVER_PORT> // optional - default: 6053
SSL_STATUS="0" || "1"