# DB
DATABASE_URL="mysql://user:password@host:port/db"
DATABASE_USER="username"
DATABASE_PASSWORD="password"
DATABASE_NAME="mydb"
DATABASE_HOST="localhost"
DATABASE_PORT=3306

# APP
ACCESS_TOKEN_SECRET=<SECRET_KEY>
REFRESH_TOKEN_SECRET=<SECRET_KEY>
SERVER_PORT=<SET_API_SERVER_PORT> // optional - default: 6053
SSL_STATUS="0" || "1"

# SMS
SMS_USERNAME=<SMS_PROVIDER_USERNAME>
SMS_PASSWORD=<SMS_PROVIDER_PASSOWORD>